body{
    background-color: rgb(220, 198, 172);
}
div{
    background-color: white;
    max-width: 80%;
    margin: 5em auto;
}
li{
    display: inline;
}
#Pirmas{
    border: 12px solid bisque;
    box-shadow: 5px 5px 15px black;
}
#antras{
    padding: 5em;
    border-radius: 150px;
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.5);
}
#trecias{
    padding: 5em 0;
    border-bottom: 10px solid bisque;
    border-right: 15px dashed bisque;
}
#ketvirtas{
    padding: 0 5em 1em;
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 50px;
}
#penktas{
    padding: 0 0 5em 0;
    border-left: 10px dashed bisque;
}