body{
    background: url(https://images.unsplash.com/photo-1574004294357-6e78ed4fb9d7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
width: 100vw;
height: 100vh;

}
div{
    position:absolute;
    top: 70%;
    left: 10%;
    color: white;
}
h1{
    background: rgba(0, 0, 255, 0.568);
    text-align: left;
    font-size: xxx-large ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     padding: 1rem 5px;
     margin-bottom: 1rem;
     width: fit-content;
}
p{
    font-size: large;
    width: 40%;
    text-align:justify;
    background-color: rgba(0, 0, 0, 0.745);
}
.didelisP{
    background-color: white;
    position:absolute;
    top: 95%;
    width: 100%;
    margin-top: 10rem;
}