* {
  box-sizing: border-box;
}
body {
  background-color: rgb(166, 160, 160);
}
.Pirmas {
  position: relative;
  margin: 2rem auto;
  width: 60%;
  height: 700px;
  padding: 30xp;
  border-radius: 40px;
  background-color: white;
}
img {
  width: 100%;
  height: 50%;
  /* object-position: ; */
  object-fit: cover;
  border-radius: 12px;
}
.kalendorius {
  box-shadow: 0px 1px 4px 0px rgba(27, 28, 32, 0.16),
    0px 1px 1px 0px rgba(40, 41, 61, 0.04);
  width: fit-content;
  position: absolute;
  top: 48%;
  right: 5%;
  background-color: white;
  padding: 0.5rem;
  border-radius: 12px;
  text-align: center;
  letter-spacing: 2px;
}
h3{
    font-size: xx-large;
}
.tekstas {
  margin: 2rem 1rem;
}
p {
  color: var(--black-400-gray, #959393);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.2px;
  font-style: normal;
}
.lorem {
  font-size: xxx-large;
  padding: 1px;
}
.paskutinis {
  padding-left: 20px;
  
}
.icon {
 
  border-radius: 200px;
  border: 1px solid #959393;
}
.icon2 {
  border-radius: 200px;
  border: 1px solid #959393;
}

  
  .icon:active {
    background-color: #999;
  }
  .icon2:active {
 background-color: gray;
  }