* {
  box-sizing: border-box;
}
body {
  background-color: #3b404e;
}
.visas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 100px 100px 50px;
  gap: 1rem;
  color: white;
  text-align: center;
  margin: 2rem 8rem;
}
.visas * {
  border: black solid 0.2rem;
  display:flex ;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #825fe6;
  grid-column: 1 / span3;
}
aside {
  background-color: #00cec7;
  grid-row: 2/4;
}
.content1 {
  background-color: #3f75ef;
  grid-column: 2 / span3;
}
.content2 {
  background-color: #3f75ef;
  grid-column-start: 2;
  grid-row-start: 3;
}
.content3 {
  background-color: #3f75ef;
  grid-column: 3/span3;
}
footer {
  background-color: #825fe6;
  grid-column: 1 / span3;
}
