*{
    box-sizing: border-box;
}

.container1 {
    background-color: orange;
    padding: 1rem;
    height: 300px;
    display:flex;
    align-items: stretch;

}
.con{
    background-color:  white;
    width: 200px;
}
.container2 {
    background-color: green;
    padding: 1rem;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;


}
.container3 {
    background-color: orange;
    padding: 1rem;
    height: 300px;
    display: flex;
    justify-content: flex-start;

}
.container4 {
    background-color: rgb(120, 159, 211);
    padding: 1rem;
    height: 300px;
    display: flex;
    justify-content: center;

}
.container5 {
    background-color: rgb(245, 57, 132);
    padding: 1rem;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;


}
