* {
  box-sizing: border-box;
  font-family: Montserrat;
}
body{
    height: 100vw;
    
}
.navigation {
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 60px;
  align-items: center;
}
.link {
  text-decoration: none;
  color: white;
  
  font-weight: 800;
}
.img {
  border: white solid 2px;
  border-radius: 16rem;
  padding: 0.7rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 3rem; */
    background-color: black;
    color: white;
}
main{
    height: 100vw;
    background-size: 250px ;
    background-repeat: repeat;
    background-image: url(./Into\ The\ Breach.url) ;
    padding: 4rem;
    height: calc(100% - 60px - 2rem);
}
h1{
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem;
}
h2{
    font-size: 1rem;
    font-weight: 400;
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white solid 2px;
    margin: 2rem;
    padding: 2rem;
    width: 300px;
}
.card img{
    border-radius: 60px;
    object-fit: cover;
    height: 120px;
    width: 120px;
    padding-bottom: 10px;
}
.card h1{
    font-size: 1rem;
    width: 8rem;
    text-align: center;
    
}
.line {
    color: white ;
    width: 1rem;
    margin: 0 0 1.5rem 0;
  }
.card p{
    font-size: 0.7rem;
    width: 10rem;
    text-align: center;
}
.card button {
    color:rgb(231, 81, 181);
    background-color: transparent;
    border: none;
    padding: 1rem;
    font-family: fantasy;

}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.footer{
    background-color: black;
    height: 2rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;


}
.footer h3{
    color: white;
    font-size: 1rem;
    
}
