body * {
  padding: 1rem;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0.5rem;
  grid-template-areas:
    " header header"
    "aside main"
    "aside footer";
    height: 100vh;
    margin: 0;
    grid-auto-rows: auto 1fr auto;

}
header {
  grid-area: header;
  background-color: #f2ecbe;
  /* display: grid;
  grid-column: 1 / span2; */
}
aside {
  grid-area: aside;
  background-color: #f8c8c1;
  /* display: grid;
  grid-row: 2 / span3; */
}
main {
  grid-area: main;
  background-color: #c7f3be;
}
footer {
  grid-area: footer;
  background-color: #c0d1f4;
}
