* {
  box-sizing: border-box;
}
body {
  background-color: #d4f1e6;
}
.visasPuslap {
  margin: auto;
  width: 80%;
  height: auto;
}
.pavadinimas {
  font-size: 100px;
  margin-bottom: 5rem;
}
.fotoFirst {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.fotoSecond {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.paskutinis {
  display: flex;
  align-items: center;
  margin-top: 3%;
  background-color: white;
  border-radius: 24px;
  padding: 3rem;
}
.paskutinisTex {
  padding-right: 2rem;
  font-size: 32px;
  width: 760px;
  
}
.paskutinisTex h1 {
  font-size: 50px;
}
.footimg {
  height: 37rem;
  background-image: url(./foto/Rectangle\ 8.png);
  width: 23.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}
